.develop {
  padding: 57px 0 0;
  background-color: #f9fafb;
  position: relative;

  .develop-container {
    max-width: 1180px;
    width: 100%;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 10px;
    justify-content: center;
    flex-direction: column;

    .develop-sous-titre {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      margin: 0 0 11px;

      p {
        font-weight: 500;
      }
    }

    .develop-titre {
      margin-bottom: 0;
      width: 100%;
      text-align: center;

      p {
        margin: 0 0 15px;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -1px;
        font-weight: bold;
      }
    }

    .develop-image {
      width: 100%;
      position: relative;
      margin: 0 0 0 -102px;
      padding: 138px 0 0 150px;
      min-height: 540px;
      text-align: center;

      .image-container {
        text-align: center;

        img {
          height: auto;
          max-width: 100%;
          visibility: visible;
        }
      }

      .parallax1 {
        left: 23px;
        top: 180px;
        z-index: 1;
        position: absolute;
        width: 100%;

        img {
          height: auto;
          max-width: 100%;
          visibility: visible;
        }
      }

      .parallax2 {
        z-index: 2;
        top: 217px;
        left: 266px;
        position: absolute;
        width: 100%;

        img {
          height: auto;
          max-width: 100%;
          visibility: visible;
        }
      }

      .parallax3 {
        left: 6px;
        top: 166px;
        z-index: 1;
        position: absolute;
        width: 100%;

        img {
          height: auto;
          max-width: 100%;
          visibility: visible;
        }
      }
    }
  }
}