.widgets {
  margin-top: 0;
  margin-bottom: 0;
  padding: 92px 0 70px;
  background-color: #f9fafb;

  .widgets-container {
    max-width: 1180px;
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    padding: 10px;

    .widgets-titre {
      margin-bottom: 0;
      width: 100%;
      text-align: center;

      p {
        margin: 0 0 15px;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: -1px;
        font-weight: bold;
      }
    }

    .widgets-description {
      margin-bottom: 0;
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;

      p {
        font-size: 18px;
        line-height: 30px;
        margin: 0 0 1em;
        width: 67%;
      }
    }

    .widgets-grid {
      width: 100%;
      margin: 0 -10px;
      display: grid;
      grid-template-columns: repeat(3,1fr);

      .grid-cell {
        padding: 40px 35px 10px;
        margin: 20px;
        text-align: left;
        position: relative;
        overflow: hidden;
        display: block;
        text-align: left;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(22,43,64,.1);
        transition: 0.3s all;
        cursor: pointer;

        &:hover {
          box-shadow: 0 14px 20px rgba(22,43,64,.12);
        }

        .widgets-icon {
          display: inline-block;
          text-align: left;
        }

        h3 {
          display: inline-block;
          font-weight: 700;
          font-size: 20px;
          line-height: 28px;
          padding-top: 6px;
          color: #162b40;
        }

        p {
          padding-top: 10px;
          font-size: 18px;
          line-height: 30px;
          margin: 0 0 1em;
          text-align: left;
        }
      }
    }
  }
}